# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# auto generated package building dir
build/
*.egg-info/

# C extensions
*.so

# User created
cache/
debian/
TODO
*.qrc
*_rc.py
ui_*.py
